@model IEnumerable<BibApp.Models.Benutzer>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <h2>Welcome!</h2>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Benutzername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passwort)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Benutzername)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Passwort)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>