@model BibApp.Models.Buch.BuchExemplar
@await Component.InvokeAsync("NToastNotify.Toastr")

@{
    ViewData["Title"] = "Bücher";
}

<style type="text/css">
    tr.parent {
        cursor: pointer;
    }

    .hideextra {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

@if (User.IsInRole("Admin"))
{
    <style type="text/css">
        i {
            color: #222223;
        }

        i:hover {
            color: #494949;
        }
    </style>
}


<div class="row" style="padding-left: 15px; padding-right: 15px;">
    <h2>Bücher</h2>

    <div class="col-sm-6" style="padding: 0px">
        <form asp-action="Index" method="get" class="form-search form-inline">
            <div class="form-actions no-color">
                <div style="padding:0px;">
                    <div class="input-group">
                        <input type="text" class="form-control search-query" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Suche..." autofocus /> <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary"> Suche</button>
                        </span>
                    </div>
                </div>
            </div>
        </form>
        <br />
    </div>

    <div class="col-sm-6" align="right" style="padding: 0px">
        @if (User.IsInRole("Admin"))
        {
            <p>
                <button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "Buecher")'"><img src="~/book-with-add-button.png" height="20" /> Buch hinzufügen</button>
            </p>
        }

    </div>
</div>

<div class="row" style="padding-left: 15px; padding-right: 15px;">
    @if (Model.Buecher.Count != 0)
    {
        <table class="table table-hover" style="border: 1px solid #808080">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Buch.Titel)</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["AutSortParm"]">@Html.DisplayNameFor(model => model.Buch.Autor)</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["IsbnSortParm"]">@Html.DisplayNameFor(model => model.Buch.ISBN)</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["VerlagSortParm"]">@Html.DisplayNameFor(model => model.Buch.Verlag)</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["ErschSortParm"]">@Html.DisplayNameFor(model => model.Buch.Erscheinungsjahr)</a>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Buch.Regal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Buch.Reihe)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Buecher)
                {
                    <tr class="parent" style="background-color:white">
                        <td>
                            @Html.DisplayFor(modelItem => item.Titel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Autor)
                        </td>
                        <td class="hideextra">
                            @Html.DisplayFor(modelItem => item.ISBN)
                        </td>
                        <td class="hideextra">
                            @Html.DisplayFor(modelItem => item.Verlag)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Erscheinungsjahr)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Regal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reihe)
                        </td>
                        <td class="hideextra">
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="glyphicon glyphicon-edit" data-toggle="tooltip" title="Bearbeiten"></i></a> <span style="color: black">|</span>
                                <a asp-action="Details" asp-route-id="@item.Id"><i class="glyphicon glyphicon-info-sign" data-toggle="tooltip" title="Details"></i></a> <span style="color: black">|</span>
                                <a asp-action="Delete" asp-route-id="@item.Id"><i class="glyphicon glyphicon-trash" data-toggle="tooltip" title="Löschen"></i></a>
                            }
                        </td>
                    </tr>

                    @foreach (var exemplar in Model.Exemplare.OrderBy(e => e.ExemplarId))
                    {
                        @if (item.ISBN.Equals(exemplar.ISBN))
                        {
                            <tr class="child" style="background-color: #d9edf7">
                                <td>
                                    - Exemplar @exemplar.ExemplarId
                                </td>

                                @if (exemplar.Verfügbarkeit)
                                {
                                    <td>
                                        <span style="color:forestgreen">verfügbar</span>
                                    </td>

                                    if (User.IsInRole("Admin"))
                                    {
                                        <td></td>
                                    }
                                }

                                else if (!exemplar.Verfügbarkeit)
                                {
                                    <td>
                                        <span style="color:red">entliehen bis:</span>
                                        <span>@exemplar.EntliehenBis.Value.ToString("dd.MM.yyyy")</span>
                                    </td>

                                    if (User.IsInRole("Admin"))
                                    {
                                        <td></td>
                                    }
                                }


                                @if (!User.IsInRole("Admin") && exemplar.Verfügbarkeit)
                                {
                                    <td class="hideextra">
                                        <a asp-action="InDenWarenkorb" asp-route-id="@exemplar.Id">In den Warenkorb</a>
                                    </td>
                                }

                                @if (!User.IsInRole("Admin") && !exemplar.Verfügbarkeit)
                                {
                                    <td></td>
                                }

                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger" role="alert" style="font-size:medium">Ihre Suche ergab keine Ergebnisse.</div>
    }

</div>



@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('.child').toggle();

            function getChildren($row) {
                var children = [];
                while ($row.next().hasClass('child')) {
                    children.push($row.next());
                    $row = $row.next();
                }
                return children;
            }

            $('.parent').on('click', function () {

                if ($(this).css("background-color") == "rgb(255, 255, 255)") {

                    $(this).css("background-color", "rgb(51, 122, 183)");
                    $(this).css("color", "white");
                    console.log("blue");
                }
                else if ($(this).css("background-color") == "rgb(51, 122, 183)") {
                    $(this).css("background-color", "white");
                    $(this).css("color", "black");
                    console.log("white");
                }

                var children = getChildren($(this));
                $.each(children, function () {
                    $(this).toggle();
                })
            });
        })
    </script>
}