@model BibApp.Models.Buch.BuchExemplar

@{
    ViewData["Title"] = "Index";
}

<style type="text/css">
    tr.parent {
        cursor: pointer;
    }

    .hideextra {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>

<h2>Bücher</h2>

<form asp-action="Index" method="get" class="form-search form-inline">
    <div class="form-actions no-color">
        <div style="padding:0px;">
            <div class="input-group">
                <input type="text" class="form-control search-query" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Search..." /> <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary"> Search</button>
                </span>
            </div>
        </div>
    </div>
</form>
<br />

<table class="table table-hover" style="border: 1px solid #808080">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Buch.Titel)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AutSortParm"]">@Html.DisplayNameFor(model => model.Buch.Autor)</a>
            </th>
            <th >
                <a asp-action="Index" asp-route-sortOrder="@ViewData["IsbnSortParm"]">@Html.DisplayNameFor(model => model.Buch.ISBN)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["VerlagSortParm"]">@Html.DisplayNameFor(model => model.Buch.Verlag)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ErschSortParm"]">@Html.DisplayNameFor(model => model.Buch.Erscheinungsjahr)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buch.Regal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buch.Reihe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Buecher)
        {
            <tr class="parent" style="background-color:white">
                <td>
                    @Html.DisplayFor(modelItem => item.Titel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                <td class="hideextra">
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td class="hideextra">
                    @Html.DisplayFor(modelItem => item.Verlag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Erscheinungsjahr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Regal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reihe)
                </td>
                <td class="hideextra">
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>

            @foreach (var exemplar in Model.Exemplare)
            {
                @if (item.ISBN.Equals(exemplar.ISBN))
                {
                    @*
                    <tr class="child">
                        <td>- Exemplar @exemplar.ExemplarId</td>
                        @if (exemplar.Verfügbarkeit)
                        {
                            <td style="color:forestgreen">verfügbar</td>
                        }
                        else
                        {
                            <td style="color:red">entliehen</td>
                            <td>bis: @exemplar.EntliehenBis.Value.ToString("dd.MM.yyyy")</td>
                            <td></td>
                            <td></td>
                        }
                        <td>Vorgemerkt: @exemplar.IstVorgemerkt</td>

                        @if (!User.IsInRole("Admin") && exemplar.Verfügbarkeit)
                        {
                            <td></td>
                            <td>
                                <a asp-action="AddToCart" asp-route-id="@exemplar.Id">In den Warenkorb</a>
                            </td>
                            <td></td>
                            <td></td>
                        }
                        <td></td>
                        <td></td>
                        @if (User.IsInRole("Admin") && exemplar.Verfügbarkeit)
                        {
                            <td></td>
                        }
                    </tr>
                        *@
                    <tr class="child">
                        <td>
                            - Exemplar @exemplar.ExemplarId
                         </td>

                            @if (exemplar.Verfügbarkeit)
                            {
                                <td>
                                    <span style="color:forestgreen">verfügbar</span>
                                </td>
                                
                            }

                            else
                            {
                                <td>
                                    <span style="color:red">entliehen bis:</span>
                                    <span>@exemplar.EntliehenBis.Value.ToString("dd.MM.yyyy")</span>
                                </td>
                                
                            }
                        
                        
                        @if (!User.IsInRole("Admin") && exemplar.Verfügbarkeit)
                        {
                            <td class="hideextra">
                                <a asp-action="AddToCart" asp-route-id="@exemplar.Id">In den Warenkorb</a>
                            </td>
                        }

                        @if (!User.IsInRole("Admin") && !exemplar.Verfügbarkeit)
                        {
                            <td>
                            </td>
                        }

                        <td></td><td></td><td></td><td></td><td></td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

@if (User.IsInRole("Admin"))
{
<p>
    <a asp-action="Create">Create New</a>
</p>
}

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('.child').toggle();

            function getChildren($row) {
                var children = [];
                while ($row.next().hasClass('child')) {
                    children.push($row.next());
                    $row = $row.next();
                }
                return children;
            }

            $('.parent').on('click', function () {

                // $('.parent').css("background-color", "black");

                if ($(this).css("background-color") == "rgb(255, 255, 255)") {

                    $(this).css("background-color", "rgb(51, 122, 183)");
                    $(this).css("color", "white");
                    console.log("blue");
                }
                else if ($(this).css("background-color") == "rgb(51, 122, 183)") {
                    $(this).css("background-color", "white");
                    $(this).css("color", "black");
                    console.log("white");
                }

                var children = getChildren($(this));
                $.each(children, function () {
                    $(this).toggle();
                })
            });
        })
    </script>
}