@model BibApp.Models.Buch.BuchExemplar

@{
    ViewData["Title"] = "Index";
}

<style type="text/css">
    tr.parent {
        cursor: pointer;
    }
</style>

<h2>Bücher</h2>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Suche: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />
        </p>
    </div>
</form>

<table class="table table-hover" style="border: 1px solid #808080" id="buecher">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Buch.Titel)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["AutSortParm"]">@Html.DisplayNameFor(model => model.Buch.Autor)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["VerlagSortParm"]">@Html.DisplayNameFor(model => model.Buch.Verlag)</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buch.Regal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buch.Reihe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Buecher)
        {
            <tr class="parent">
                <td>
                    @Html.DisplayFor(modelItem => item.Titel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Autor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Verlag)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Regal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reihe)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>

            @foreach (var exemplar in Model.Exemplare)
            {
                @if (item.ISBN.Equals(exemplar.ISBN))
                {
                    <tr class="child">
                        <td>- Exemplar @exemplar.ExemplarId</td>
                        @if (exemplar.Verfügbarkeit)
                        {
                            <td>Verfügbarkeit: @exemplar.Verfügbarkeit</td>
                        }
                        else
                        {
                            <td>Entliehen vom: @exemplar.EntliehenVom</td>
                            <td>Entliehen bis: @exemplar.EntliehenBis</td>
                        }
                        <td>Vorgemerkt: @exemplar.IstVorgemerkt</td>

                        @if (!User.IsInRole("Admin") && exemplar.Verfügbarkeit)
                        {
                            <td>
                                <a asp-action="AddToCart" asp-route-id="@exemplar.Id">In den Warenkorb</a>
                                @*<a asp-action="RemoveFromCart" asp-route-id="@item.Id">Remove from Cart</a>*@
                            </td>
                        }
                        <td></td>
                        <td></td>
                        @if (User.IsInRole("Admin") && exemplar.Verfügbarkeit)
                        {
                            <td></td>
                        }

                    </tr>
                }
            }
        }
    </tbody>
</table>

<p>
    <a asp-action="Create">Create New</a>
</p>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            $('.child').toggle();

            function getChildren($row) {
                var children = [];
                while ($row.next().hasClass('child')) {
                    children.push($row.next());
                    $row = $row.next();
                }
                return children;
            }

            $('.parent').on('click', function () {

                var children = getChildren($(this));
                $.each(children, function () {
                    $(this).toggle();
                })
            });
        })
    </script>
}