@model IEnumerable<BibApp.Models.Buch>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-hover" style="border: 1px solid #808080">
    <thead>
        <tr>
                <th>
                     Checkbox!
                </th>    
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bezeichnung)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Autoren)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Verfügbarkeit)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IstVorgemerkt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Verlag)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Regal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reihe)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EntliehenVom)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EntliehenBis)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.CheckBoxFor(modelItem => item.IsSelected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bezeichnung)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autoren)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verfügbarkeit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IstVorgemerkt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verlag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reihe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntliehenVom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntliehenBis)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}


    </tbody>
</table>

<div class="row">
    <div class="col-sm-9">
        <button type="submit" class="btn btn-default">Hinzufügen</button>




        <button type="button" class="btn btn-default">Bearbeiten</button>
        <button type="button" class="btn btn-primary">Details</button>
        <button type="button" class="btn btn-success">Löschen</button>
    </div>
    <div class="col-sm-3">
        <button type="button" class="btn btn-primary">Verleihen</button>
        <button type="button" class="btn btn-success">Zurückgeben</button>
    </div>
</div>       
