@model IEnumerable<BibApp.Models.Benutzer>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12">
        <h3>In Kürze zurück zugegebene Bücher</h3>
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        <table class="table" style="border: 1px solid #808080">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Benutzername)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Passwort)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Benutzername)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Passwort)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <p>TEST</p>
        <button type="button" class="btn">Benachrichtigen</button>
        <button type="button" class="btn btn-default">Benachrichtigen</button>
        <button type="button" class="btn btn-primary">Benachrichtigen</button>
        <button type="button" class="btn btn-success">Benachrichtigen</button>
        <button type="button" class="btn btn-info">Benachrichtigen</button>
        <button type="button" class="btn btn-warning">Benachrichtigen</button>
        <button type="button" class="btn btn-danger">Benachrichtigen</button>
        <button type="button" class="btn btn-link">Benachrichtigen</button>
     </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Ablaufende Mitgliedschaften</h3>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <table class="table" style="border: 1px solid #808080">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Benutzername)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Passwort)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Benutzername)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Passwort)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <button type="button" class="btn">Benachrichtigen</button>
        <button type="button" class="btn btn-default">Benachrichtigen</button>
        <button type="button" class="btn btn-primary">Benachrichtigen</button>
        <button type="button" class="btn btn-success">Benachrichtigen</button>
        <button type="button" class="btn btn-info">Benachrichtigen</button>
        <button type="button" class="btn btn-warning">Benachrichtigen</button>
        <button type="button" class="btn btn-danger">Benachrichtigen</button>
        <button type="button" class="btn btn-link">Benachrichtigen</button>

    </div>
</div>