@model BibApp.Models.HomeIndexData

@{
    ViewData["Title"] = "Home Page";
}

        <h2>Leihaufträge</h2>

<form asp-action="Index" method="get" class="form-search form-inline">
    <div class="form-actions no-color">
        <div style="padding:0px;">
                <div class="input-group">
                    <input type="text" class="form-control search-query" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Search..." /> <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary"> Search</button>
                    </span>
                </div>
        </div>
    </div>
</form>
<br />

<div class="row">
    <div class="col-sm-10">
        <table class="table table-fixedheader table-hover" style="border: 1px solid #808080">
            <thead>
                <tr>
                    <th class="col-xs-2">
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Buch.Titel)</a>
                    </th>
                    <th class="col-xs-2">
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["AutSortParm"]">@Html.DisplayNameFor(model => model.Buch.Autor)</a>
                    </th>
                    <th class="col-xs-2">
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["VerlagSortParm"]">@Html.DisplayNameFor(model => model.Buch.Verlag)</a>
                    </th>
                    <th class="col-xs-2">Aktionen</th>
                </tr>
            </thead>
       
            <tbody>
                    @foreach (var item in Model.Buecher)
                   {
                        <tr>
                            <td class="col-xs-2">
                                @Html.DisplayFor(modelItem => item.Titel)
                            </td>
                            <td class="col-xs-2">
                                @Html.DisplayFor(modelItem => item.Autor)
                            </td>
                            <td class="col-xs-2">
                                @Html.DisplayFor(modelItem => item.Verlag)
                            </td>
                            <td class="col-xs-2">
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
</div>

<h2>Abgelaufenes Leihfristende</h2>

<form asp-action="Index" method="get" class="form-search form-inline">
    <div class="form-actions no-color">
        <div style="padding:0px;">
            <div class="input-group">
                <input type="text" class="form-control search-query" name="SearchString2" value="@ViewData["currentFilter2"]" placeholder="Search..." /> <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary"> Search</button>
                </span>
            </div>
        </div>
    </div>
</form>
<br />

<div class="row">
    <div class="col-sm-6">
        <table class="table" style="border: 1px solid #808080">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm2"]">@Html.DisplayNameFor(model => model.Benutzer.UserName)</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["RoleSortParm2"]">@Html.DisplayNameFor(model => model.Benutzer.Role)</a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Benutzers)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <button type="button" class="btn">Benachrichtigen</button>
        <button type="button" class="btn btn-default">Benachrichtigen</button>
        <button type="button" class="btn btn-primary">Benachrichtigen</button>
        <button type="button" class="btn btn-success">Benachrichtigen</button>
        <button type="button" class="btn btn-info">Benachrichtigen</button>
        <button type="button" class="btn btn-warning">Benachrichtigen</button>
        <button type="button" class="btn btn-danger">Benachrichtigen</button>
        <button type="button" class="btn btn-link">Benachrichtigen</button>

    </div>
</div>