@model BibApp.Models.HomeIndexData

@{
    ViewData["Title"] = "Home Page";
}
        <h2>Leihaufträge</h2>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Suche: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" />
        </p>
    </div>
</form>

<div class="row">
    <div class="col-sm-9">
        <table class="table" style="border: 1px solid #808080">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["IdSortParm"]">@Html.DisplayNameFor(model => model.Buch.Id)</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Buch.Titel)</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["AutSortParm"]">@Html.DisplayNameFor(model => model.Buch.Autor)</a>
                    </th>
                    @*<th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["VerfSortParm"]">@Html.DisplayNameFor(model => model.Buch.Verfügbarkeit)</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["VorgSortParm"]">@Html.DisplayNameFor(model => model.Buch.IstVorgemerkt)</a>
                    </th>*@
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["VerlagSortParm"]">@Html.DisplayNameFor(model => model.Buch.Verlag)</a>
                    </th>
                    @*<th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["entlVomSortParm"]">@Html.DisplayNameFor(model => model.Buch.EntliehenVom)</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["entlBisSortParm"]">@Html.DisplayNameFor(model => model.Buch.EntliehenBis)</a>
                    </th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Buecher)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Titel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Autor)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.IstVorgemerkt)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Verlag)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.EntliehenVom)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EntliehenBis)
                        </td>*@
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-3">
        <p>TEST</p>
        <button type="button" class="btn">Benachrichtigen</button>
        <button type="button" class="btn btn-default">Benachrichtigen</button>
        <button type="button" class="btn btn-primary">Benachrichtigen</button>
        <button type="button" class="btn btn-success">Benachrichtigen</button>
        <button type="button" class="btn btn-info">Benachrichtigen</button>
        <button type="button" class="btn btn-warning">Benachrichtigen</button>
        <button type="button" class="btn btn-danger">Benachrichtigen</button>
        <button type="button" class="btn btn-link">Benachrichtigen</button>
     </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <h3>Abgelaufenes Leihfristende</h3>
    </div>
</div>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Suche: <input type="text" name="SearchString2" value="@ViewData["currentFilter2"]" />
            <input type="submit" value="Search" class="btn btn-default" />
        </p>
    </div>
</form>

<div class="row">
    <div class="col-sm-6">
        <table class="table" style="border: 1px solid #808080">
            <thead>
                <tr>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm2"]">@Html.DisplayNameFor(model => model.Benutzer.UserName)</a>
                    </th>
                    <th>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["RoleSortParm2"]">@Html.DisplayNameFor(model => model.Benutzer.Role)</a>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Benutzers)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Role)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-sm-6">
        <button type="button" class="btn">Benachrichtigen</button>
        <button type="button" class="btn btn-default">Benachrichtigen</button>
        <button type="button" class="btn btn-primary">Benachrichtigen</button>
        <button type="button" class="btn btn-success">Benachrichtigen</button>
        <button type="button" class="btn btn-info">Benachrichtigen</button>
        <button type="button" class="btn btn-warning">Benachrichtigen</button>
        <button type="button" class="btn btn-danger">Benachrichtigen</button>
        <button type="button" class="btn btn-link">Benachrichtigen</button>

    </div>
</div>