@model IEnumerable<BibApp.Models.Warenkorb.Warenkorb>
@await Component.InvokeAsync("NToastNotify.Toastr")

@{
    ViewData["Title"] = "Warenkorb";
}

<h2>Warenkorb</h2>

@if (Model.Count() != 0)
{
    <table class="table table-hover" style="border: 1px solid #808080">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ISBN)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BuchTitel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExemplarId)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ISBN)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BuchTitel)
                    </td>
                    <td style="padding-left: 33px">
                        @Html.DisplayFor(modelItem => item.ExemplarId)
                    </td>
                    <td>
                        <a asp-action="EntferneVonWarenkorb" asp-route-id="@item.Id" style="color:red"> <i class="glyphicon glyphicon-remove"></i> Entfernen </a>
                    </td>
                </tr>
            }

        </tbody>
    </table>
    <input type="button" class="btn btn-success" value="Leihauftrag senden" onclick="location.href='@Url.Action("LeihauftragSenden", "Warenkorb")'" />
    <input type="button" class="btn btn-danger" value="Warenkorb leeren" onclick="location.href='@Url.Action("WarenkorbLeeren", "Warenkorb")'" />
}
else
{
    <div class="alert alert-info" role="alert" style="font-size:medium">Sie haben momentan keine Bücher in Ihrem Warenkorb.</div>
}