@model IEnumerable<BibApp.Models.Warenkorb.AdminKorb>
@await Component.InvokeAsync("NToastNotify.Toastr")

@{
    ViewData["Title"] = "Index";
}

<div class="col-sm-6">
    <h2>Ausleihen</h2>

    <form asp-action="Index" method="get" class="form-search form-inline">
        <div class="form-actions no-color">
            <div style="padding:0px;">
                <div class="input-group">
                    <input type="text" class="form-control search-query" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Search..." /> <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary"> Search</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
    <br />

    <table class="table table-hover" style="border: 1px solid #808080">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Benutzer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExemplarId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BuchTitel)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (!item.IstVerliehen)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Benutzer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExemplarId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BuchTitel)
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Aktion
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a asp-action="Ausleihen" asp-route-id="@item.Id">ausleihen</a></li>
                                    <li><a asp-action="Loeschen" asp-route-id="@item.Id">löschen</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>

<div class="col-sm-6">
    <h2>Zurückgeben</h2>

    <form asp-action="Index" method="get" class="form-search form-inline">
        <div class="form-actions no-color">
            <div style="padding:0px;">
                <div class="input-group">
                    <input type="text" class="form-control search-query" name="SearchString" value="@ViewData["currentFilter"]" placeholder="Search..." /> <span class="input-group-btn">
                        <button type="submit" class="btn btn-primary"> Search</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
    <br />

    <table class="table table-hover" style="border: 1px solid #808080">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Benutzer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExemplarId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BuchTitel)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.IstVerliehen)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Benutzer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ExemplarId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BuchTitel)
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                                    Aktion
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a asp-action="Verlaengern" asp-route-id="@item.Id">verlängern</a></li>
                                    <li><a asp-action="Zurueckgeben" asp-route-id="@item.Id">zurückgeben</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>